/* 
Here is the app specific CSS for Trajectory.
It's best to overwrite/suppliment styles here rather than to edit and modify the iiDX styles.  This makes updates painless.
*/

.beta {color: #88CB8D !important; font-size: 13px !important;}
.subName {margin-left: 0 !important;}

li.domain a {background-color: #00c700 !important}

.usage  {
  display: block;
  margin: 5px 0;
  max-height: 250px;
  padding: 8px;
  overflow: auto;
}

pre {background-color: #ffffc4; border: 1px solid #fff100;}

li.active span {font-size: 18px; margin-left: 4px;}

.detail-sheet h3 {margin-bottom: 12px}
.detail-sheet .dl-horizontal {margin-bottom: 15px !important}
.detail-sheet dl.dl-horizontal dd {margin-bottom: 4px}