.DivHeader {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    -moz-border-top-left-radius: 5px;
    -moz-border-top-right-radius: 5px;
    -webkit-border-top-right-radius: 15px;
    -webkit-border-top-left-radius: 15px;
    background: #9F927C;
    padding: 0.2% 2% 0.2% 2%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 99%;
    text-align: center;
}

.DivFooter {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    -moz-border-bottom-left-radius: 15px;
    -moz-border-bottom-right-radius: 15px;
    -webkit-border-bottom-left-radius: 15px;
    -webkit-border-bottom-right-radius: 15px;
    background: #D9D3CB;
    padding: 0.2% 2% 0.2% 2%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 99%;
    text-align: center;
    font-size: .7em;
}

.DivContent {
    /*border-radius: 15px;
                -moz-border-radius: 5px;
                -webkit-border-radius: 15px;*/
    background: #7da2bd;
    padding: 2%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 99%;
    text-align: left;
	/* display: inline-block; */
}

.DivBody {
    /*border-radius: 15px;
                -moz-border-radius: 5px;
                -webkit-border-radius: 15px;
                background: #E6E5E4;*/
    /*padding: .1%;*/
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 80%;
    text-align: center;
}



.DivJuktaKeypad {
    margin-left: 1%;
    margin-right: 0%;
    border: 2px solid #959595;
    padding: .5% .75% .75% .75%;
    background: #959595;    
    border-radius: 10px;
    vertical-align: top;
    display: inline-block;
    float: unless-room;
    white-space: nowrap;    
}

.Jukta {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    -moz-border-top-right-radius: 7px;
    -moz-border-bottom-right-radius: 7px;
    -webkit-border-top-right-radius: 7px;
    -webkit-border-bottom-right-radius: 7px;
    padding: 0px; 
    background: #959595;
    margin-top: 10px;
    margin-left: -4px;
    text-align: center;
    font-size: medium;
    color: #fff;
    display: inline-block;
    vertical-align: top;
    float: unless-room;
}



bodyOdia {
    background: #fff;
    padding: 0;
    margin: 10px 0px;
    height: 100%;
    font-family: Segoe UI;
}

body {
    background: #333;
}

span {
    font-family: Segoe UI Semibold;
}



textarea {
    width: 98%;
    height: 200px;
    
    font-size: xx-large;
    font-weight: bold;
    color: #601919;
    border-radius: 6px;
}

.logo {
    height: 40px;
    width: 40px;
}

.headerScript {
    font-family: Segoe Print;
    font-size: large;
    font-weight: bold;
}

.headerScriptLarge {
    font-family: Segoe Print;
    font-size: x-large;
    font-weight: bold;
}

.odiaText {
    color: #f00;
    font-size: larger;
    font-weight: bold;
}

.textAlternate {
    color: rgba(27, 27, 81, 0.97);
    font-size: larger;
    font-weight: bold;
}

button {
    padding: 5px 5px 5px 5px;
    line-height: 100%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.1s ease-in-out;
    -webkit-transition: background 0.1s ease-in-out;
    -moz-transition: background 0.1s ease-in-out;
    -ms-transition: background 0.1s ease-in-out;
    -o-transition: background 0.1s ease-in-out;
    color: #000;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    border-width: 0px;
    width: 40px;
    background-color: #d5d5d5; /*#f06060;*/
    font-size: x-large;
    box-shadow: 0px 1px 1px #111;
}

.buttonEmpty {
    padding: 0px 5px 0px 5px;
}





/*input {
    color: #000;
}*/
textarea::-webkit-input-placeholder {
    color: silver;
    font-family: 'Helvetica Neue';
    
}
input:focus::-webkit-input-placeholder {
    color: #500;
}

input:-moz-placeholder {  
    color: #555;  
}

